.todos {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}


.emptyTodo {
  text-align: center;
  color: var(--color-text);
  margin-top: 3rem;
  opacity: 0.9;
}

.emptyTodo h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.emptyTodo p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.3px;
}